<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/style-fud.css">
    <link rel="icon" href="../img/Logoreal.png">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Seymour+One&display=swap');
    </style>
    <script src="../js/box.js"></script>
    <title>Home</title>
</head>

<body>
    <header id="Header">
        <img src="../img/Logoreal.png" alt="" class="logo">
        <!--Menu header-->
        <ul class="main-menu">
            <a href="../index.html">
                <li class="menu-item">Home</li>
            </a>
            <a href="fud.html">
                <li class="menu-item">We are what we eat</li>
            </a>
            <a href="mig.html">
                <li class="menu-item">Migrations and gender</li>
            </a>
            <a href="wimen.html">
                <li class="menu-item">Words to change the world</li>
            </a>
            </a>
            <a href="game.html">
                <li class="cta">Challenge!</li>
                </form>
            </a>
        </ul>
        <script src="../js/home.js"></script>
    </header>
    <div class="column-2">
        <img src="../img/trotuman.png" class="foto">
    </div>
    <div class="column-2">
        <img src="../img/verduras.png" class="foto">
    </div>
    <div class="content">
        <h1></h1>
        <p>Can you imagine a world without pollution? Exactly me neither, it's very sad but that dream doesn't look like it will ever come true, or at least if we continue wasting and polluting like we do now. In this section of the website you will learn
            about what we eat, waste and pollute. Prepared? Go for it!</p>

        <p>In recent years, the level of nutrition in our society has declined incredibly. This may have largely happened due to globalization and large companies like “McDonalds” that have created a junk food empire.</p>

        <p>People have less and less patience and companies know it, which is why every second counts and the quality of the food is reflected in that philosophy. The cycle of seasons has also been broken where you can currently eat a fruit regardless of
            whether it is in season or not.</p>

        <p>And what does everything I said before have to do with it? Very simple, since there is so much demand for orders from all over the world for all foods, this means a great expense in transportation, something that each vehicle (whether air, water
            or land) contaminates. It is not only transportation but also what we throw in the trash, there is more and more food waste in Spain and if we add to that the thousands of tons of plastics that are produced in the world to bag this food...
            BOOM! We have already created pollution in the environment. Remember we are NOT alone on this planet, we must take care of it if we want to continue living here in the future.</p>

    </div>
    <footer>
        <img src="../img/Logoreal.png" alt="" class="logo">
        <div class="social-icons-container">
            <a href="https://www.instagram.com/lookingtheworld2024" target="_blank" class="social-icon"></a>
            <a class="social-icon"></a>
        </div>
        <ul class="footer-menu-container">
            <li class="footer-item">Legal</li>
            <li class="footer-item">Cookies</li>
            <li class="footer-item">Privacidad</li>
        </ul>
        <span class="copyright">&copy;2024, Looking The World. Albert Gutiérrez. Todos los derechos reservados.</span>
    </footer>
</body>

</html>