<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Challenge The World!</title>
    <link rel="stylesheet" href="../css/game.css">
</head>

<body>
    <div class="container">
        <h1>Looking The World Test</h1>
        <div class="content">
            <img id="image" src="" alt="Imagen">
            <p id="frase"></p>
            <ul id="respuestas"></ul>
            <p id="reflexion" style="display: none;"></p>
            <button id="refreshButton" style="display: none;">Next</button>
        </div>
    </div>
    <script src="../js/game.js"></script>
</body>

</html>