<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/style-mig.css">
    <link rel="icon" href="../img/Logoreal.png">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Seymour+One&display=swap');
    </style>
    <script src="../js/box.js"></script>
    <title>Home</title>
</head>

<body>
    <header id="Header">
        <img src="../img/Logoreal.png" alt="" class="logo">
        <!--Menu header-->
        <ul class="main-menu">
            <a href="../index.html">
                <li class="menu-item">Home</li>
            </a>
            <a href="fud.html">
                <li class="menu-item">We are what we eat</li>
            </a>
            <a href="mig.html">
                <li class="menu-item">Migrations and gender</li>
            </a>
            <a href="wimen.html">
                <li class="menu-item">Words to change the world</li>
            </a>
            </a>
            <a href="game.html">
                <li class="cta">Challenge!</li>
                </form>
            </a>
        </ul>
        <script src="../js/home.js"></script>
    </header>
    <div class="column-2">
        <img src="../img/inmigracion-espana-2024-03-01-18-03-50.png" class="foto">
    </div>
    <div class="column-2">
        <img src="../img/La-violencia-contra-la-mujer-puede-ser-fisica-pero-tambien-psicologica.png" class="foto">
    </div>
    <div class="content">
        <h1></h1>
        <p>Unfortunately there is no perfect world and you may wonder why I say this, right? It's easy in this world where there is a lot of inequality, very rich people with enough fortune for 10 lives and people who don't even have enough to live their
            tomorrow. People who are born in quiet countries without conflicts or privileges. And others that are born in countries at war such as Palestine and Israel. </p>

        <p>People who are born with an imposed role in society and others who are born with more facilities just because of their sex. </p>

        <p>All is not lost since there are many movements that promote solving these conflicts, but there are others that do not understand it and even go against it. One of the most common cases is immigration, a topic that is very present in our country
            and that grows every year. People who go against immigration without understanding all the problems they have, such as not having friends or acquaintances, escaping their country, not understanding the language or not finding work to cover
            their basic needs.</p>

        <p>Problems of prejudice and the like could be fixed with a good education from a young age and an understanding of their origin and culture. I know that if we make an effort as a society we can change all these injustices or at least try to.</p>

    </div>
    <footer>
        <img src="../img/Logoreal.png" alt="" class="logo">
        <div class="social-icons-container">
            <a href="https://www.instagram.com/lookingtheworld2024" target="_blank" class="social-icon"></a>
            <a class="social-icon"></a>
        </div>
        <ul class="footer-menu-container">
            <li class="footer-item">Legal</li>
            <li class="footer-item">Cookies</li>
            <li class="footer-item">Privacidad</li>
        </ul>
        <span class="copyright">&copy;2024, Looking The World. Albert Gutiérrez. Todos los derechos reservados.</span>
    </footer>
</body>

</html>