<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/style-wimen.css">
    <link rel="icon" href="../img/Logoreal.png">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Seymour+One&display=swap');
    </style>
    <script src="../js/box.js"></script>
    <title>Home</title>
</head>

<body>
    <header id="Header">
        <img src="../img/Logoreal.png" alt="" class="logo">
        <!--Menu header-->
        <ul class="main-menu">
            <a href="../index.html">
                <li class="menu-item">Home</li>
            </a>
            <a href="fud.html">
                <li class="menu-item">We are what we eat</li>
            </a>
            <a href="mig.html">
                <li class="menu-item">Migrations and gender</li>
            </a>
            <a href="wimen.html">
                <li class="menu-item">Words to change the world</li>
            </a>
            </a>
            <a href="game.html">
                <li class="cta">Challenge!</li>
                </form>
            </a>
        </ul>
        <script src="../js/home.js"></script>
    </header>
    <div class="column-2">
        <img src="../img/banksy.png" class="foto">
    </div>
    <div class="column-2">
        <img src="../img/ted-talk.png" class="foto">
    </div>
    <div class="content">
        <h1></h1>
        <p>Violence is always present, always has been and sadly always will be. Violence in our society will never disappear or at least if we continue the same. There are a thousand current cases where there is a clear abuse of violence, the situation
            with Russia crosses everyone's mind. In this section of the website I want to talk about the difference between violence and conflicts, also about the importance of words and the different violence that exists since there is not a single violence.
        </p>

        <p>There are different types of violence, such as cultural and gender, but what they all agree on is that a conflict has previously occurred. This is where the importance of reasoning and words comes in, it is important not to be impulsive and most
            importantly to have empathy. Empathy is an emotion that develops from a young age, this is where education comes in. A good education leads to a greater development of empathy which makes active communication easier.</p>

        <p>Next I would like to talk about TED TALKs, TED TALKs are a movement of presentations which must have a simple and repeatable idea that is not very complex. It is important that the visual part coincides with the oral part. The most important thing
            about TED TALKs is that you try to connect with the listeners either in a humorous or sarcastic way and that you do not deviate too much from your main topic.</p>

    </div>
    <footer>
        <img src="../img/Logoreal.png" alt="" class="logo">
        <div class="social-icons-container">
            <a href="https://www.instagram.com/lookingtheworld2024" target="_blank" class="social-icon"></a>
            <a class="social-icon"></a>
        </div>
        <ul class="footer-menu-container">
            <li class="footer-item">Legal</li>
            <li class="footer-item">Cookies</li>
            <li class="footer-item">Privacidad</li>
        </ul>
        <span class="copyright">&copy;2024, Looking The World. Albert Gutiérrez. Todos los derechos reservados.</span>
    </footer>
</body>

</html>